@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    font-family: "Nunito", sans-serif;
	background: url("./img/1.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	backdrop-filter: blur(5px);
}

.table {
	--bs-table-bg: rgba(255, 255, 255, 0.233)!important;
	backdrop-filter: blur(8px);
}
